<%- include('header') %> 

<section class="vh-100">  
  <div class="container py-5 v-100">
    <div class="row d-flex justify-content-center align-items-center v-100">
      <div class="card-body p-5 text-center">
        <h1>API-SECURE</h1>
        <h3>BY ISMAIL REKIS</h3>
        <a href="/users" class="btn btn-outline-success">Afficher les utilisateurs</a>
      </div>
    </div>
  </div>
</section>

<%- include('footer') %> 